.subscribe-button {
background-color: rgb(201, 0, 0);
color: white;
border: none;
border-radius: 2px;
cursor: pointer;
margin-right: 8px;
transition: opacity 0.15s;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
vertical-align: top;
}

.subscribe-button:hover {
opacity: 60%;
}

.subscribe-button:active {
opacity: 30%;
}

.join-button {
    background-color: white;
    border-color: #1850d3;
    border-style: solid;
    border-radius: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    color: #1850d3;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s,color 0.15s;
}

.join-button:hover{
    background-color: #1850d3;
    color: white;
}

.join-button:active {
    opacity: 70%;
}

.Tweet_button {
    height: 36;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    border-radius: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(2, 137, 255);
    cursor: pointer;
    vertical-align: top;
    transition: box-shadow 0.15s;
    }
    
    .Tweet_button:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
    }

    .Tweet_button:active{
    opacity: 70%;
    }

    .uber {
    margin-left: 8px;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    height: 36px;
    border: none;
    border-radius: 2px;
    transition: opacity 0.15s;
}

.uber:hover {
    opacity: 80%;
}

.Amazon {
    margin-left: 8px;
    background-color: rgb(255, 216, 20);
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 200px;
    height: 36px;
    border: none;
    border-radius: 18px;
    transition: background-color 0.15s;
}

.Amazon:hover{
    background-color: rgb(255, 181, 20);
}

.Github {
    margin-left: 8px;
    background-color: rgb(46, 164, 79);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100px;
    height: 36px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.Bootstrap {
    margin-left: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(108, 117, 125);
    cursor: pointer;
    width: 125px;
    height: 36px;
    border-width: 1px;
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}
